  /* .top{
    padding-top: 80px;
    border: solid 2px;
    height: 10px
  } */
  /* .App { */
    /* margin-left: 20px; */
    /* text-align: center;  */
    /* background-color: 
    #F4FFF9 */
 
  /* border: solid 2px; 
width: 1300px;
height: 500px; 
border-radius: 20px;
box-shadow: 4px 4px 10px;
 margin-left: 30px;
 margin-top: 30px;
background-color: #F0EEDC; */


/* } */
/* .tbl{
  text-align: center;
  background-color:rgb(200, 184, 141);
  border: solid 2px;
  box-shadow: 5px 5px 10px;
  margin-left: 300px;
  font-size: 15px;
}
.frm{
    border: solid 2px; 
width: 300px;
height: 600px; 
background-color:rgb(163, 176, 188) ;
margin-top: 40px;
margin-left: 500px;
box-shadow: 5px 5px 10px;
} */
/* .db{
  width: 225px;
  background-color: #FFFFFF;
  box-shadow: 00px 2px  5px;
}
.inpt{
  background-color: #FFFFFF;
  box-shadow: 00px 2px  5px;
} */
/* .box{
  border: solid 2px;
  border-color: #80ac80;
  width: 280px;
  height: 380px;
  margin-left: 12px;
}
.crt{
  padding-left: 210px;
  margin-top: -38px;
}
.wslst{
  margin-left: -210px;
  height: 10px;
  
  
}
.btn1{
margin-left: -100px;
}
.h1{
  border: solid 5px;
  color: #F4FFF9;
  height: 60px;
  background-color: #FFF2DF;
text-align: left;
}
.ckbx{
float: right;
}
.ckbx1{
  float:left
}
.btn{
  float: right;
  padding-right: 50px;
  margin-top: 20px;
} */
/* .bx{
  float: left;
}
.bx1{
  text-align: center;
} */
