.Button-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-icone{
    background-color: orangered;
    cursor: pointer;
    border: 1px solid rgb(80, 79, 79);
    border-radius: 3px;
    margin:  -4px 12px;
    
    
}